/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 

 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Inder|Varela+Round');


body { padding-top: 70px; }

 #myCarousel{
 	width: 45%;
 	margin: 0 auto;
 }


.carousel-inner{
/*	width: 436px;
	height: 879px;*/
	width: 60%;
	margin: 0 auto;
}

.carousel-control {
	margin-top: 35%;
}

.carousel-control.left, .carousel-control.right {
	background: none !important;
	background-image:none !important;
	filter: none !important;
	outline: 0;
	font-size: 30px;
	text-shadow: none;

}
.carousel-control.left {margin-left: -75px; color: black;}
.carousel-control.right {margin-right: -75px; color: black;}


a.nav-item{
	padding-right: 55px;
	padding-left: 55px;
	letter-spacing: 5px;
	text-decoration: none;	
	color: #878787;
	font-family: 'Inder', sans-serif;
	font-size: 12px;
}

nav.navbar.text-center{
  padding-top: 20px;
}

p.logo{
	font-family: 'Varela Round', sans-serif;
	font-size: 45px; 
}

div.project{
	width: 20%;
	/*border: 0.1px solid black;*/ 

}

a.logo-link{
	color: black;
}

img.img-responsive.img-clip{
    width:auto;
    height:200px;  /*this is supposed to maintain the aspect ratio*/
    overflow:hidden;
}

div.about-text{
    margin-left: 25%;
    margin-right: 25%;
}

p.about{
	color: #5e5e5e;
	font-family: Arial;
	font-size: 12px;
	letter-spacing: 1px;
}
img.img-responsive.selfy{
	width: 50%;
	height: 50%;
	border-radius: 3px;
	margin: 0 auto;
}

a.contact, p.contact{
	color: #5e5e5e;
	font-family: Arial;
	font-size: 12px;
	letter-spacing: 1px;
}

a.nav-item.active{
	color: red !important;
}


@media only screen and (max-width: 500px) {
		a.nav-item{
		padding-right: 5px;
		padding-left: 5px;

	}
 
}







