/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 * 

 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*sets the margin space required on the left and right sides of the carousel*/
#myCarousel{
	width: 45%;
	margin: 0 auto;
}

	/*Set the top edge of the absolute positioned  
	element to 80px below the top edge of its nearest positioned ancestor:*/
.carousel-control {
	top: 25%;
	bottom: 75%;
}
.carousel-inner {
	width: 436px;
	height: 879px;
}
.carousel-control.left, .carousel-control.right{
	font-family: georgia;
	background: none;
	border: none;
	font-size: 60px;

}
.carousel-control.left {
	margin-left: -200px; 
	color: black;


}

.carousel-control.right {
	margin-right: -200px; 
	color: black;
}

div.arrow-backdrop{
	background-color: red;
		top: 25%;
	bottom: 75%;
}
